html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

dd, dt {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-bottom: 0px;
}

.bg-info, .bg-secondary {
    border-top: solid 1px;
    padding-left: 12px;
    padding-top: .5em;
    padding-bottom: .5em;
}

h1 {
    color: powderblue;
    border-top: solid 1px;
}
.bg-secondary {
   color: dimgray
   
}
